@use "variables" as v;

.containerGrid {
  height: 100vh;
  margin: 0 200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 32px;
}

.imageContainer {
  grid-column: 2 /4;
  grid-row: 1 / 2;
  height: 300px;
  margin: auto 0 110% 0;
  z-index: 1;
}
.textContainer {
  grid-column: 2 /4;
  grid-row: 1 / 2;
  height: 500px;
  margin: auto 0 calc(120% - 550px - v.$margin) 0;
  z-index: 1;
  font-size: 20px;
  line-height: 1.5;
}
.contactContainer {
  grid-column: 4 /5;
  grid-row: 1 / 2;
  height: 150px;
  margin: auto 0 calc(120% - 150px) 0;
  z-index: 1;
}
.headerContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 75vh;
  margin: auto 0 calc(120% - 190px) 0;
  z-index: 1;
  font-size: 48px;
  font-family: Stretch;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: v.$text-color;
  writing-mode: vertical-lr;
}
